<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">adoptauntio.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
      </li>
      <ng-template #anonymousUser>
        <li  class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <li ngbDropdown  class="nav-item dropdown"  *ngIf="user$ | async as user; else anonymousUser">
        <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.displayName}}</a>
        <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/my/orders">My Orders</a>
          <a class="dropdown-item" href="/admin/orders">Manage Order</a>
          <a class="dropdown-item" href="/admin/products">Manage Products</a>
          <a class="dropdown-item" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>