<!--The content below is only a placeholder and can be replaced.-->
<head>
  <title>{{ title }}</title>
</head>
<body>
  <bs-navbar></bs-navbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <main role="main" class="container">

    <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

  </main>/.container -->